.section-sobre{
    width: 100%;
    height: 100%;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.text-sobre{
    width: 30%;
    height: 300px;
}

.text-sobre h1{
    color: black;
    font-size: 2rem;
    text-align: center;
    line-height: 45px;
    letter-spacing: 2px;
    font-family: 'Edu QLD Beginner', cursive;
}

.text-sobre p{
    font-size: 18px;
    text-align: justify;
}

/* responsive */

@media (max-width: 841px){
    .text-sobre{
        width: 70%;
        height: 100%;
        margin-bottom: 25px;
    }
}